.item {
    padding: 30rpx;
    background: white;
    margin-bottom: 20rpx;
    color: #262626;
    line-height: 150%;
    text-align: left;

    .question {
        margin: 20rpx 0;
        font-weight: bolder;
    }

    .answer {
        min-height: 70rpx;
    }

    .albumId {
        margin-top: 20rpx;
        color: #555555;
        display: flex;
        justify-content: space-between;
    }

}