.main {
  font-size: 28rpx;
  padding: 36rpx;
  background: #ffffff;

  .single {
    display: inline-block;
    width: 96rpx;
    height: 40rpx;
    color: rgba(42, 130, 228, 1);
    border-radius: 5rpx;
    font-size: 28rpx;
    line-height: 150%;
    border: rgba(42, 130, 228, 1) solid 2rpx;
    text-align: center;
    margin-right: 26rpx;
  }

  .question {
    color: rgba(0, 0, 0, 1);
    font-size: 36rpx;
    line-height: 150%;
    text-align: left;
    display: inline-block;

  }

  .answer {
    height: 64rpx;
    color: rgba(80, 80, 80, 1);
    font-size: 36rpx;
    line-height: 150%;
    text-align: left;
    margin-top: 40rpx;
    margin-left: 20rpx;

    .tag {
      display: inline-block;
      width: 48rpx;
      height: 48rpx;
      color: rgba(3, 0, 0, 1);
      border-radius: 26rpx;
      font-size: 32rpx;
      line-height: 150%;
      border: rgba(56, 56, 56, 1) solid 2rpx;
      text-align: center;
    }
  }

  .correct {
    margin-top: 40rpx;
    margin-left: 20rpx;
    height: 96rpx;
    color: rgba(80, 80, 80, 1);
    font-size: 36rpx;
    line-height: 150%;
    text-align: left;
  }

  .analysis {

    .lineTop {
      display: flex;
      align-items: center;

      .line {
        display: inline-block;
        width: 233rpx;
        height: 2rpx;
        left: 19rpx;
        top: 306rpx;
        color: rgba(229, 229, 229, 1);
        background-color: rgba(229, 229, 229, 1);
        font-size: 28rpx;
        line-height: 150%;
        text-align: center;
      }

      .lineText {
        display: inline-block;
        width: 170rpx;
        height: 64rpx;
        left: 142rpx;
        top: 288rpx;
        color: rgba(56, 56, 56, 1);
        font-size: 32rpx;
        line-height: 64rpx;
        text-align: center;
      }
    }

    .content {
      margin-top: 40rpx;
      color: rgba(80, 80, 80, 1);
      font-size: 32rpx;
      line-height: 150%;
      text-align: left;
    }
  }
}