.container {
    padding: 0;
}

.main {
    color: #2b2a2a;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    line-height: 60rpx;
    font-size: 32rpx;

    .albumId {
        font-size: 34rpx;
        font-weight: bolder;
        margin: 0 30rpx;
    }

    .bookDetailList {
        margin: 0 30rpx;
    }

    .albumId2 {
        font-size: 32rpx;
        font-weight: bolder;
    }

    .albumId3 {
        font-weight: bolder;
        margin: 30rpx 0;
    }

    .albumId4 {
        font-weight: bolder;
        margin: 30rpx 0;
    }

    .content {
        word-break: break-all;
        // text-indent: 2em;
        line-height: 200%;
    }

    .imageView {
        width: 100%;
        margin: 30rpx 0;
    }
}


// html {
//     overflow: hidden;
// }

// body {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     overflow: auto;
// }

// * {
//     margin: 0;
//     padding: 0;
// }

// .container {
//     display: flex;
//     flex-direction: column;
//     padding: .3rem;
//     box-sizing: border-box;
//     word-break: break-all;
//     text-indent: 2em;
//     line-height: 200%;
// }

// h1,
// h2,
// h3,
// h4,
// h5 {
//     text-indent: 0;
// }

// img {
//     width: 100%;
//     margin-top: .20rem;
// }